$borderColor: #cecece;
$bg-color: #f5f5f5;
$gray: #A8A8A9;
$textColorDefault: #4A4A4A;
$colorPrimary: #0076FF;
$colorWarn: #E65045;
$themes-color: #4B77B0;
$tapColor: #ECECEC;
$rem: 0.5rem/16;
$small: 24*$rem;
$write:#ffffff;
$spacing: 30*$rem;

$timeline-item-bg-color: $themes-color;
