:root {
  --main-color: #1a8fff;
}

.carousel .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-in;
  color: var(--main-color)
}
.carousel-enter {
  opacity: 0.01;
}

.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.carousel-leave {
  opacity: 1;
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.col-center,
.col-left,
.col-right {
  display: flex;
}

.col-left {
  align-items: center;
}

.carousel .col-center {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
  .left {
    position: absolute;
    left: 20px;
    top: 48%;
  }
  .right {
    position: absolute;
    right: 20px;
    top: 48%;
  }
  .icon {
    color: #666666;
  }
  img{
   width: 100%;
   height: 100%;
 }
}
